html {
    background-image: url(https://media.playstation.com/is/image/SCEA/ps4-systems-fortnite-bundle-banner-01-us-26jul19?$native_nt$);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: t;
    overflow: hidden;
}

.locker {
    position: absolute;
    margin: 0;
    position: absolute;
    vertical-align: middle;
    top: 43%;
    left: 16%;
    transform: translate(-50%, -50%);
}

.item {
    width: 113px;
    height: 140px;
    background-image: url(https://media.playstation.com/is/image/SCEA/ps4-systems-fortnite-bundle-banner-01-us-26jul19?$native_nt$);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: 0.2s;
}

.item > div:nth-of-type(1) {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.item img {
    width: 140px;
    position: absolute;
    left: -15px;
    transition: 0.2s;
}

.item > div:nth-of-type(2) {
    width: 100%;
    background: gray;
    border-left: 2px solid darkgray;
    height: 100%;
    position: relative;
    top: 118px;
    transform: rotate(85deg);
    transition: 0.2s;
    opacity: 0.8;
}

.item > div:active {
    background: white;
}

.tabs {
    height: 9%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 153%;
    word-spacing: 47.2px;
}

.tabs > div {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    position: relative;
    transition: 0.2s;
}

.tab-selected {
    background: white;
    transform: skew(0deg, -2deg);
    color: #1E206B;
}

.tab-selected:hover {
    background: none;
    color: white;
}

.edit-locker {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    align-items: center;
    background: #265CA2;
    z-index: 1;
}

.edit-locker > div:nth-of-type(1) {
    width: 823px;
    height: 55px;
    position: absolute;
    top: 12%;
    z-index: 2;
    left: -35%;
    transform: skew(0deg, 3deg);
    background-color: #265CA2;
}

.edit-locker > div:nth-of-type(2) {
    color: white;
    font-style: italic;
    font-size: 58px;
    position: absolute;
    top: 6%;
    background: #265CA2;
    left: 7%;
    z-index: 11;
}

.edit-locker > div:nth-of-type(3) {
    text-align: center;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 20%;
    background-image: url(https://media.playstation.com/is/image/SCEA/ps4-systems-fortnite-bundle-banner-01-us-26jul19?$native_nt$);
    z-index: 1;
    background-size: cover;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.edit-locker > div:nth-of-type(3) > div:nth-of-type(1) {
    width: 545px;
    height: 409px;
    background-image: url(https://media.playstation.com/is/image/SCEA/ps4-systems-fortnite-bundle-banner-01-us-26jul19?$native_nt$);
    background-size: cover;
    background-position: -493px;
    display: flex;
    flex-wrap: wrap;
}

.edit-locker > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) {
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    transition: 0.2s;
    margin: 15px;
    width: 100%;
    vertical-align: top;
    height: 100%;
    display: flex;
    flex-grow: 0;
}

.edit-locker > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > div {
    margin: 12px;
}

.edit-locker > div:nth-of-type(3) > div:nth-of-type(1) > div:nth-of-type(1) > div > div:nth-of-type(1) {
    width: 113px;
    height: 140px;
}

@font-face {
    font-family: t;
    src: url(./fonts/BurbankBigCondensed-Black.otf);
}